*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(105, 191, 218);
}
.container{
    margin-top: 20px;
    background: white;
    width: 600px;
    height: 900px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.header{
    border-radius: 10px 10px;
    text-align: center;
    background: rgb(238, 237, 236);
}
.header img{
    margin-top: 10px;
    width: 150px;
    border-radius: 100%;
}
h1{
    margin-top: 2%;
}
.about{
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    background:  rgb(238, 237, 236);
}
.about p{
    margin-top: 2%;

}
.work{
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    width: 570px;
    height: 420px;
    background:  rgb(238, 237, 236);
}
.grid{
    display: grid;
    grid-template-columns:  300px 300px ;
    grid-template-rows:      130px 130px; 
    width: 100%;
    height: 90%;
    align-content:space-evenly ;
}
.wo.w1{
    background-image: url("crickter.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    text-align:center;
    margin-left: 25px;
    width: 65%;
    height: 110%;
    border: 2px solid rgb(124, 122, 122);
    display:flex;
    align-items: center;
    justify-content: center;
}
.wo.w2{
    background-image: url("prime.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    text-align: center;
    width: 65%;
    height: 110%;
    border: 2px solid rgb(124, 122, 122);
    margin-bottom: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.wo.w3{
    background-image: url("shoukat.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    text-align: center;
    margin-left: 25px;
    width: 65%;
    height: 110%;
    border: 2px solid rgb(124, 122, 122);
    display:flex;
    align-items: center;
    justify-content: center;
}
.wo.w4{
    background-image: url("billion\ tree.jpg");  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    text-align:center;
    width: 65%;
    height: 110%;
    border: 2px solid rgb(124, 122, 122);
    display:flex;
    align-items: center;
    justify-content: center;
}
.wo.w1:hover, .wo.w2:hover, .wo.w3:hover, .wo.w4:hover{
    transform: scale(1.1);
    transition:.5s;
    opacity: 0.8;
}
.grid a{
    background-color: black;
    opacity: 70%;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    font-family: sans-serif;
    text-decoration: none;
    /* position: absolute;
    text-align: center; */
}
.footer{
    text-align: center;
    background:  rgb(238, 237, 236);
    margin-top: 5px;
    height: 3%;
    border-radius: 10px;
}
.footer a{
    font-size: 12px;
    text-decoration: none;
    color: black;
}